* {
  box-sizing: border-box;
}

html {
	height: 100%;

}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgb(228, 228, 228);
	height: 100%;
	margin: 0;
}

span {
	max-width: 50vw;
}

.container {
	display: flex;
  justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.chat {
	height: 75vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	margin-bottom: 10rem;
} 

::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	border: 0; 
	padding: 15px; 
	border-radius: 10px;
  font-size: 1rem;
}

.back {
  margin-top: 2rem;
  padding: 1rem;
}

.back-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin: 1rem;
  padding: 1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
  border-radius: 4rem;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
  color: black;
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
}

#bot {
	margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(180, 180, 180);
}

#user {
	margin-left: auto;
}

.bot {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.avatar {
	height: 10px;
}

.santa-icon {
  margin-bottom: 12rem;
	margin-right: 6rem;
}

.response {
	display: flex;
	align-items: center;
	padding: 0.75rem;
  color: white;
  font-weight: 700;
  background-color: rgb(60, 197, 232);
  border-radius: 1.4rem;
}

/* Mobile */

@media only screen and (max-width: 980px) {
  .container {
		flex-direction: column; 
		justify-content: flex-start;
	}
	.chat {
		width: 75vw;
		height: 60%;
		margin: 1rem;
	}

	.santa-icon {
		margin-bottom: 1rem;
		margin-left: 6rem;
	}
}