@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  display: grid;
  place-items: center center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: rgb(26, 26, 26);
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(142, 66, 66)
}

.center {
  position: relative;
  width: 100%;
  height: 60vh;
  padding: 0rem;
  backdrop-filter: blur(5px);
  z-index: 0;
}

.card-hero {
  margin-top: 0rem;
  padding: 6rem;
  background-color: white;
  height: 100vh;
  text-align: center;
}

.features {
  margin-top: 1.6rem;
  color: black
}


nav {
  width: 100vw;
  margin-top: 2rem;
  display: flex; /* 1 */
  justify-content: center; /* 2 */
  padding: 1rem 100px; /* 3 */
  background: #d8afaf; /* 4 */
  border-radius: 6rem;
}

nav ul {
  margin-top: 0.4rem;
  display: flex; /* 5 */
  list-style: none; /* 6 */
}

nav li {
  padding-left: 2rem; /* 7! */
}

.contact {
  background-color: black;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4rem;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.contact:hover {
  background-color: rgb(78, 78, 78);
}


a {
  text-decoration: none;
  color: white;
}

nav a:hover { 
  color: rgb(111, 53, 53);
}

.card-button {
  padding: 1rem;
  border-radius: 5rem;
  background-color: rgb(22, 22, 22);
}

.card-button:hover {
  background-color: rgb(41, 41, 41);
}

.card-button a {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

button {
  border: none;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  padding: 2rem;
  grid-gap: 40px;
  z-index: 1;
}
.card{
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  padding: 2rem;
}
.container{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card1>.container:after{
  background-image: linear-gradient(
      135deg,
      #aa1c1f,
      #510000
  );
}
.card2>.container:after{
  background-image: linear-gradient(
      135deg,
      #aa1c1f,
      #510000
  );
}
.card3>.container:after{
  background-image: linear-gradient(
      135deg,
      #aa1c1f,
      #510000
  );
}
.details{
  padding: 20px 10px;
}
.details>h3{
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.nav-title {
  font-size: 1.4rem;
}


